#layout {
  #content {
    @apply mt-20 ml-[300px] py-10 px-16 bg-white;
    transition: all 0.2s;
  }

  .ant-layout-sider-children {
    border: 1px solid rgba(5, 5, 5, 0.06);
  }

  .ant-layout-sider {
    @apply bg-white fixed top-0 bottom-0;
  }

  .ant-layout-sider-trigger {
    background: #fff;
    color: black;
    font-size: 20px;
    // z-index: 0;
  }

  aside {
    width: 300px !important;
    min-width: 300px !important;
    max-width: 300px !important;
  }
  aside.ant-layout-sider-collapsed {
    width: 80px !important;
    min-width: 80px !important;
    max-width: 80px !important;
  }

  aside.ant-layout-sider-collapsed ~ div>#header {
    @apply left-[80px];
  }

  aside.ant-layout-sider-collapsed ~ div>#content {
    @apply ml-[80px];
  }

  div.ant-layout-sider-trigger {
    width: 300px !important;
    border-right: 1px solid rgba(5, 5, 5, 0.06);
  }

  aside.ant-layout-sider-collapsed div.ant-layout-sider-trigger {
    width: 80px !important;
  }

  .ant-menu-light .ant-menu-item-selected {
    background: rgba(36, 38, 40, 0.08);
    color: black;
  }

  .ant-menu-inline .ant-menu-item,
  .ant-menu-vertical > .ant-menu-item {
    height: 54px;
    line-height: 54px;
  }

  .ant-menu .ant-menu-item .anticon {
    font-size: 22px;
    height: 100%;
  }

  .ant-menu .ant-menu-item .anticon + span {
    margin-inline-start: 68px;
  }

  .ant-menu-title-content {
    font-size: 18px;
    font-weight: 600;
    color: #3e4144;
  }

  .ant-menu-inline-collapsed > .ant-menu-item {
    padding-inline: calc(50% - 16px);
  }

  .ant-menu-item:first-child {
    @apply h-20 leading-[5rem] m-0 w-full rounded-none border-b mb-2 leading-[91px]; 

    .ant-menu-title-content {
      @apply ml-8 text-black text-[22px] font-bold;
    }
  }

  .ant-menu-item:not(.ant-menu-item-selected):first-child:hover,
  .ant-menu-light .ant-menu-item-selected:first-child {
    @apply bg-white opacity-100;
  }

  .ant-menu-item:not(.ant-menu-item-selected):hover {
    @apply bg-white opacity-80;
  }

  .ant-menu-light.ant-menu-root.ant-menu-inline {
    border-inline-end: none;
  }
}
